.outerBox {
	width: 1400px;
	height: 650px;
	top:20px;
	left: 20px;
	background-color: #E5E5E5;
	position: relative;

}

.header{
	width: 1395;
	height: 60px;
	/*border: 2px dashed black;*/
	background: -webkit-linear-gradient(top, rgb(169,3,41) 0%,rgb(143,2,34) 44%,rgb(109,0,25) 100%); /* Chrome10+,Safari5.1+ */
	overflow: hidden;
}

.resultBox {
width: 400px;
height: 94px;
margin-left: 107px;
font-size: 20px;
color: green;
margin-top: 20px;
margin-right: auto;
margin-left: auto;
border: 1px solid black;
background-color: darkblue;

}
.resultBox #skipped_questions{
	font-size: 20px;
color: white;
margin-left: 109px;
}

.quizBox {
	width: 1200px;
	height: 360px;
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #8c0909;
	border-radius: 10px;
	box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
	/*background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(7%,rgba(225,255,255,1)), color-stop(12%,rgba(225,255,255,1)), color-stop(12%,rgba(253,255,255,1)), color-stop(30%,rgba(230,248,253,1)), color-stop(54%,rgba(200,238,251,1)), color-stop(75%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1))); /* Chrome,Safari4+ */
}

.quizBox > img {
	width: 300px;
	height: 360px;
	float: right;
	border-radius: 5px;
	display: inline-block;
}

.questionSection{
	display: inherit;
}

.questionTitle{
	display: inline-block;
	width: 850px;
	/* text-align: center; */
	margin-top: 50px;
	margin-left: 20px;
	font: 28px 'Satisfy', Helvetica, sans-serif;
}

.answerBox {
	/*border: 1px solid red;*/
	border-radius: 30px;
	width: 387px;
	height: 32px;
	font-size: 28px;
	font: 24px 'Average', Helvetica, sans-serif;
	text-align: center;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #fff;
} 

.highlight{
	border: 1px solid black;
	/*background-color: white;*/
	opacity: 0.4;
}

.incorrectAnswer{
	color: red;
}

.correctAnswer{
	color: green;
}

#ans1 {
	background-color: #FF4B4B;
}

#ans2{
	background-color: #6753FF;
}

#ans3{
	background-color: #FFE24F;
}

#ans4{
	background-color: #15FFDA;
}

.buttonsBox{
	margin-left: 129px;
	margin-top: 30px;
}
.buttonsBox button {
	width: 300px;
	height: 50px;
	font-size: 25px;
	border: 3px solid black;
	border-radius: 12px;
	background-color: rgba(15, 223, 241, 1);
}

#branding {
    float:left;
    width: 50%;
}

#branding h1{
    padding: 5px 0 0 70px;
	color: #fff;
	margin-left: 50px;
	font: 30px 'Lobster', Helvetica, sans-serif;
}

#branding img{
    position: absolute;
    width: 60px;
    height: auto;
    margin-left: 40px;
}

.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);}

/*Hover effects*/
.quizBox img:hover {
	-webkit-filter: none; /*Returns to default state*/
}
